body{
    margin-left: 20%;
    margin-right: 20%;
}
html{
    background-color: rgb(179, 230, 230);
}
.A{
    padding:0%;
    height: 100px;
    text-transform: uppercase;
    font-size: 50px;
    color: rgb(143, 216, 143);
    background-color: ivory;
}
div{
    background-color:white;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    margin: 10px;
}
p{
    font-weight: bold;
}
.A02{
    padding: 0px;
}
.A03{

}
.A04{

}
.A05{

}
.A06{

}
.A07{
    margin-top: 10px;

}
.A08{
    margin-top: 10px;
}
.A09{
    margin-top: 10px;
}
.A10{
    margin-top: 10px;
}
.A11{
    margin-top: 10px;
}
.A12{
    margin-top: 10px;
}
.A13{
    margin-top: 10px;
}
.A14{
    margin-top: 10px;
}
.A15{
    margin-top: 10px;
}
.A16{
    margin-top: 10px;
}
.A17{
    margin-top: 10px;
}
.A18{
    margin-top: 10px;
}
.A19{
    margin-top: 10px;
}
.A20{
    margin-top: 10px;
}